@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend+Deca:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lexend Deca", sans-serif; }

.header .container-size {
  max-width: 1170px;
  padding: 0 16px 0 16px;
  margin: 0 auto; }
  .header .container-size .logo {
    width: 37px;
    height: 90px; }
  .header .container-size .logo-name {
    margin-left: 8px;
    font-size: 26px;
    font-weight: 500;
    color: #140b43; }
  .header .container-size .navbars .phone img {
    background-color: #140b43;
    border-radius: 100%;
    padding: 15px;
    width: 1.5rem;
    height: 1.5rem; }
  .header .container-size .navbars .phone h5 {
    font-family: "DM Sans", sans-serif;
    letter-spacing: -1px;
    font-weight: 600; }
  .header .container-size .navbars ul li a {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: #140b43;
    margin-right: 5px; }
    .header .container-size .navbars ul li a:nth-last-child(1) {
      margin: 0; }

.hero {
  padding-bottom: 3rem;
  background-color: #dc4343d5; }
  .hero .hero-container {
    max-width: 1170px;
    padding: 0 16px 0 16px;
    margin: 0 auto;
    min-height: 40.1rem; }
    .hero .hero-container .hero-left-side {
      max-width: 600px; }
      .hero .hero-container .hero-left-side h1 {
        font-family: "DM Sans", sans-serif;
        font-size: 4.6rem;
        font-weight: 700;
        line-height: 5rem;
        margin-bottom: 1rem;
        color: #140b43;
        letter-spacing: 0.2rem; }
      .hero .hero-container .hero-left-side .small {
        max-width: 400px;
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 2.2rem; }
      .hero .hero-container .hero-left-side button {
        border: none;
        color: #fff;
        background-color: #2928e8;
        padding: 0.9rem 1.6rem;
        border-radius: 0.5rem; }
    .hero .hero-container .hero-right-side .model .model-bg-skyblue {
      position: absolute;
      top: 24.8%;
      right: 15.6%;
      width: 265px;
      height: 340px; }
    .hero .hero-container .hero-right-side .model .model-bg-yellow {
      position: absolute;
      z-index: 2;
      top: 40%;
      right: 26.01%;
      width: 300px;
      height: 395px; }
    .hero .hero-container .hero-right-side .model .processing-card {
      position: absolute;
      z-index: 3;
      top: 58.5%;
      right: 37.6%;
      width: 272px;
      height: 290px; }
    .hero .hero-container .hero-right-side .model .happy-clients {
      position: absolute;
      z-index: 4;
      top: 52.4%;
      right: 10.8%;
      width: 260px;
      height: 90px; }
    .hero .hero-container .hero-right-side .model .ellipse-one-person {
      position: absolute;
      z-index: 4;
      top: 29%;
      right: 33.3%;
      width: 57px;
      height: 57px; }
    .hero .hero-container .hero-right-side .model .ellipse-two-person {
      position: absolute;
      z-index: 4;
      top: 38%;
      right: 10.5%;
      width: 57px;
      height: 57px; }
    .hero .hero-container .hero-right-side .model .curly-arrow {
      position: absolute;
      right: 7.5%;
      top: 68%;
      height: 110px;
      width: 150px; }
    .hero .hero-container .hero-right-side .white_shirt_man {
      position: absolute;
      top: 20.8%;
      right: 15.5%;
      width: 270px;
      height: 370px; }
